.tree-view, .tree-cell, .tree-cell:sub-tree-item {
    -fx-background-color: #2D353C;
    -fx-text-fill: rgb(136, 144, 151);
}

.tree-cell {
    -fx-padding: 15px 0px 15px 0px;
}

.tree-cell:sub-tree-item {
    -fx-padding: 8px 0px 8px 0px;
}

.tree-cell:expanded {
    -fx-text-fill: white;
}

.tree-cell:selected, .tree-cell:selected:hover, .tree-cell:sub-tree-item:selected, .tree-cell:sub-tree-item:selected:hover {
    -fx-text-fill: white;
    -fx-background-color: rgb(0, 172, 172);
}

.tree-cell:hover, .tree-cell:sub-tree-item:hover {
    -fx-text-fill: white;
    -fx-background-color: #1a2229;
}

/* Don't hover empty cell */
.tree-cell:hover:empty, .tree-cell:sub-tree-item:hover:empty {
    -fx-background-color: #2D353C;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.27em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: 90;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 180;
}